<div id="header">
    <div id="burger">
        <div class="linesBurger"></div>
        <div class="linesBurger"></div>
        <div class="linesBurger"></div>
    </div>
    <div id="logo">
        <div>Leleka Aesthetics</div>
        <div id="underline">
        </div>
    </div>
    <div id="btns">
        <div class="smlBtnHeader" id="services">Послуги<div class="blur"></div>
        </div>
        <div class="smlBtnHeader" id="price">Прайс-лист<div class="blur"></div>
        </div>
        <div class="smlBtnHeader" id="aboutMe">Про мене<div class="blur"></div>
        </div>
        <div class="smlBtnHeader" id="contacts">Контакти<div class="blur"></div>
        </div>
    </div>
    <app-btn-phone1></app-btn-phone1>
</div>