<div id="container">
    <div id="containerContent1and1">
        <div id="logoContentBig">
            <p>Leleka</p>
            <p>Aesthetics</p>
        </div>
        <div id="description">
            <p>Кабінет лікаря<br> 
                дермато-косметолога<br>
                в м. Березівка, Одеська обл.</p>
        </div>
        <app-btn-phone2></app-btn-phone2>
    </div>
    <div id="containerContent1and2">
        <div id="divImg"><img src="assets/images/photo1.png" alt="photo1"></div>
        <div id="divText"> Лікар дермато-косметолог<br>Наконечна Анастасія</div>
    </div>
</div>
<div id="btnDown">
    <img src="assets/images/markerDown.png" alt="">
</div>