<div class="containerLeft">
    <div class="name-left">
        <div class="nameServices">
            Про мене
        </div>
    </div>
    <div class="lineAndCircle">
        <div class="circle"></div>
        <div class="line"></div>
    </div>
</div>


<!--  -->

<div id="container">
    <div id="first">
        <div>
            Я - практикуючий лікар дермато-косметолог. Закінчила Дніпровську медичну академію в 2018 році, проходила інтернатуру в місті Кривий Ріг і потім пройшла спеціалізацію на лікаря дерматолога в університеті післядипломної освіти ім. Шупіка. Зараз я живу і приймаю в місті Березівка Одеської області. Прийом веду як по косметології, так і дерматологічний прийом. Моя думка, що спеціаліст, який втручається в здоров'є іншої людини, обов'язково повинен мати для цього відповідну освіту, право і рівень кваліфікації. Чекаю на вас!
        </div>
    </div>
    <div id="second">
        <img src="../../assets/images/about me photo.png" alt="Анастасія Наконечна">
    </div>
</div>