<div id="all">
    <!-- <div>
        <img src="../../assets/images/gradient-price.png" alt="gradient-price">
    </div> -->
    <div class="containerRight">
        <div class="name">
            <div class="nameServices">
                Прайс-лист
            </div>
        </div>
        <div class="lineAndCircleRight">
            <div class="circle"></div>
            <div class="line"></div>
        </div>
    </div>
    
<!--------------БОТУЛІНОТЕРАПІЯ------------------------------------------------------------------------------->
    <div id="price-container">
        <div class="containerLeft">
            <div class="name-left price-name">
                <div class="nameServices text-name">
                    Ботулінотерапія
                </div>
                <div class="blur"></div>
            </div>
            <div class="lineAndCircle">
                <div class="circle"></div>
                <div class="line"></div>
            </div>
        </div>

        <!--  -->
            <!-- блок начинается -->

            <div id="butolinoPriseBlock">
                <div class="blockDef">
                    <div class="textBeforePrice">
                        <div class="BSN">Одиниця ботулотоксина</div>
                        <div class="SSN">Одиниці розраховуються в 
                            залежності від типу зморшок і зазвичай ми 
                            обговорюємо ціну на попередній 
                            консультації. Зазвичай приблизно 
                            11-20 одиниць на одну зону (чоло, 
                            міжбров'я, очі, підборіддя - окремі зони)</div>
                    </div>
                    <div class="priceBlockSml">
                        <div class="BSP">130₴</div>
                    </div>
                </div>

                <!---->

                <div class="square">
                    <div class="first-square">
                        <div class="BSN">
                            Мезоботокс обличчя    
                        </div>
                    </div>
                    <div class="second-square">
                        <div class="BSP">
                            3500₴
                        </div>
                    </div>
                </div>

                <!--  -->

                <div class="blockDef">
                    <div class="textBeforePriceDown">
                        <div class="BSN">Лікування гіпергідрозу</div>
                        <div class="SSN">(надмірного потовиділення)</div>
                    </div>
                    <div class="priceBlockSmlDown">
                        <div class="procent"><img src="../../assets/images/4300 sale.png" alt="sale"></div>
                        <div class="BSP">3500₴</div>
                    </div>
                </div>
            <!-- блок заканчивается -->

            </div>



<!---------------------------- КОНТУРНА ПЛАСТИКА ----------------------------------------------------->
        <div class="containerLeft">
            <div class="name-left price-name">
                <div class="nameServices text-name">
                    Контурна пластика
                </div>
                <div class="blur"></div>
            </div>
            <div class="lineAndCircle">
                <div class="circle"></div>
                <div class="line"></div>
            </div>
        </div>

        <!-- блок начался -->

        <div id="KonturnaPlastikaPriseBlock">
            <div class="longFirst">
                <div class="UpperNameCenter">
                    <div>
                        Контурна пластика губ
                    </div>
                </div>
            </div>
            <!-- квадраты -->
            <div class="square">
                <div class="first-square">
                    <div class="BSN">
                        Neuramis Deep <span class="numberAnotherFontFamily">1</span> ml
                    </div>
                </div>
                <div class="second-square">
                    <div class="procent">
                        <img src="../../assets/images/4500 sale.png" alt="">
                    </div>
                    <div class="BSP">
                        3500₴
                    </div>
                </div>
            </div>

            <!--  -->
            <div class="square">
                <div class="first-square">
                    <div class="BSN">
                        Revolax Deep (+ lidocaine ) <span class="numberAnotherFontFamily">1.1</span> ml
                    </div>
                </div>
                <div class="second-square">
                    <div class="procent">
                        <img src="../../assets/images/4500 sale.png" alt="">
                    </div>
                    <div class="BSP">
                        3500₴
                    </div>
                </div>
            </div>

            <!--  -->
            <div class="square">
                <div class="first-square">
                    <div class="BSN">
                        Saypha Filler (+ lidocaine) <span class="numberAnotherFontFamily">1</span> ml
                    </div>
                </div>
                <div class="second-square">
                    <div class="BSP">
                        5500₴
                    </div>
                </div>
            </div>

            <!--  -->

            <div class="square">
                <div class="first-square">
                    <div class="BSN">
                        Stylage M <span class="numberAnotherFontFamily">1</span> ml
                    </div>
                </div>
                <div class="second-square">
                    <div class="BSP">
                        5300₴
                    </div>
                </div>
            </div>

            <!--  -->

            <div class="square">
                <div class="first-square">
                    <div class="BSN">
                        Belotero Lips Contour <span class="numberAnotherFontFamily">0.6</span> ml
                    </div>
                </div>
                <div class="second-square">
                    <div class="BSP">
                        5900₴
                    </div>
                </div>
            </div>

            <!--  -->

            <div class="square">
                <div class="small-notes">
                    <div class="small-notes-font">
                        *До кожного препарату прикладається сертифікат якості
                    </div>
                </div>
            </div>

            <!--  -->

            <div class="square">
                <div class="UpperNameCenterSquare">
                    <div>
                        Заповнення зморшок та кілець Венери філером
                    </div>
                </div>
            </div>

            <!--  -->

            <div class="square">
                <div class="first-square">
                    <div class="BSN">
                        Belotero Soft <span class="numberAnotherFontFamily">1</span> ml  
                    </div>
                </div>
                <div class="second-square">
                    <div class="BSP">
                        5450₴
                    </div>
                </div>
            </div>

            <!--  -->

            <div class="square">
                <div class="first-square-down">
                    <div class="BSN">
                        Belotero Balance <span class="numberAnotherFontFamily">1</span> ml  
                    </div>
                </div>
                <div class="second-square-down">
                    <div class="BSP">
                        5850₴
                    </div>
                </div>
            </div>

            <!-- блок заканчивается -->

        </div> <!---закрывается контурная пластика--->


<!-- ======= дерматологічне лікування  ========= -->


        <div id="dermatologichne-likuvannya">
            <div class="containerLeft">
                <div class="name-left price-name">
                    <div class="nameServices text-name">
                        Дерматологічне лікування
                    </div>
                    <div class="blur"></div>
                </div>
                <div class="lineAndCircle">
                    <div class="circle"></div>
                    <div class="line"></div>
                </div>
            </div>

            <!-- блок начинается -->

            <div class="circle-type-block">
                <div class="first">
                    <div class="BSN">
                        Консультація дерматологічна
                    </div>
                </div>
                <div class="second">
                    <div class="BSP">
                        500₴
                    </div>
                </div>
            </div>

            <!-- блок заканчивается -->
        </div> <!----конец дерматологічне лікування--->

        <!-- =======Біоревіталізація шкіри=========== -->

        <div id="biorevital">
            <div class="containerLeft">
                <div class="name-left price-name">
                    <div class="nameServices text-name">
                        Біоревіталізація шкіри
                    </div>
                    <div class="blur"></div>
                </div>
                <div class="lineAndCircle">
                    <div class="circle"></div>
                    <div class="line"></div>
                </div>
            </div>


            <!-- блок начинается -->

            <div id="biorevital-cont">
                <div class="longFirst">
                    <div class="UpperNameCenter">
                        <div>
                            Полінуклеотиди зони навколо очей
                        </div>
                    </div>
                </div>
                <!-- квадраты -->
                <div class="square">
                    <div class="first-square">
                        <div class="BSN">
                            Neuramis Deep <span class="numberAnotherFontFamily">1</span> ml
                        </div>
                    </div>
                    <div class="second-square">
                        <div class="procent">
                            <img src="../../assets/images/4500 sale.png" alt="">
                        </div>
                        <div class="BSP">
                            3500₴
                        </div>
                    </div>
                </div>
    
                <!--  -->
                <div class="square">
                    <div class="first-square">
                        <div class="BSN">
                            Revolax Deep (+ lidocaine ) <span class="numberAnotherFontFamily">1.1</span> ml
                        </div>
                    </div>
                    <div class="second-square">
                        <div class="procent">
                            <img src="../../assets/images/4500 sale.png" alt="">
                        </div>
                        <div class="BSP">
                            3500₴
                        </div>
                    </div>
                </div>

                <!--  -->

                <div class="square">
                    <div class="UpperNameCenterSquare">
                        <div>
                            Полінуклеотиди зони очей, всього обличчя і шиї
                        </div>
                    </div>
                </div>
    
                <!--  -->
                <div class="square">
                    <div class="first-square">
                        <div class="BSN">
                            Saypha Filler (+ lidocaine) <span class="numberAnotherFontFamily">1</span> ml
                        </div>
                    </div>
                    <div class="second-square">
                        <div class="BSP">
                            5500₴
                        </div>
                    </div>
                </div>
    
                <!--  -->
    
                <div class="square">
                    <div class="first-square">
                        <div class="BSN">
                            Stylage M <span class="numberAnotherFontFamily">1</span> ml
                        </div>
                    </div>
                    <div class="second-square">
                        <div class="BSP">
                            5300₴
                        </div>
                    </div>
                </div>
    
                <!--  -->
    
    
    
                <!--  -->
    
                <div class="square">
                    <div class="UpperNameCenterSquare">
                        <div>
                            Полінуклеотиди зони обличчя
                        </div>
                    </div>
                </div>
    
                <!--  -->
    
                <div class="square">
                    <div class="first-square">
                        <div class="BSN">
                            Rejuran Healer <span class="numberAnotherFontFamily">2</span> ml  
                        </div>
                    </div>
                    <div class="second-square">
                        <div class="BSP">
                            5300₴
                        </div>
                    </div>
                </div>
    
                <!--  -->

                <div class="square">
                    <div class="first-square">
                        <div class="BSN">
                            Vitaran Tox Eye & Face Collagen <span class="numberAnotherFontFamily">2</span> ml  
                        </div>
                    </div>
                    <div class="second-square">
                        <div class="BSP">
                            4900₴
                        </div>
                    </div>
                </div>
    
                <!--  -->

                <div class="square">
                    <div class="first-square">
                        <div class="BSN">
                            Macdermol <span class="numberAnotherFontFamily">1</span> ml  
                        </div>
                    </div>
                    <div class="second-square">
                        <div class="BSP">
                            2500₴
                        </div>
                    </div>
                </div>
    
                <!--  -->

                <div class="square">
                    <div class="first-square">
                        <div class="BSN">
                            Macdermol hydro <span class="numberAnotherFontFamily">3</span> ml  
                        </div>
                    </div>
                    <div class="second-square">
                        <div class="BSP">
                            4000₴
                        </div>
                    </div>
                </div>
    
                <!--  -->

                <div class="square">
                    <div class="UpperNameCenterSquare">
                        <div>
                            Мезотерапія
                        </div>
                    </div>
                </div>
    
                <!--  -->
    
                <div class="square">
                    <div class="first-square">
                        <div class="BSN">
                            Освітлююча мезотерапія  
                        </div>
                    </div>
                    <div class="second-square">
                        <div class="BSP">
                            1200₴
                        </div>
                    </div>
                </div>
    
                <!--  -->

                <div class="square">
                    <div class="first-square noFlex">
                        <div class="BSN">
                            Фракційна мезотерапія    
                        </div>
                        <div class="SSN">
                            Ціна вказана тільки за послугу (+ціна препарату)
                        </div>
                    </div>
                    <div class="second-square">
                        <div class="BSP">
                            800₴
                        </div>
                    </div>
                </div>
    
                <!--  -->

                <div class="square">
                    <div class="first-square">
                        <div class="BSN">
                            Мезотерапія волосяної частини голови при алопеції
                        </div>
                    </div>
                    <div class="second-square">
                        <div class="BSP">
                            1200₴+
                        </div>
                    </div>
                </div>
    
                <!--  -->

                <div class="square">
                    <div class="first-square">
                        <div class="BSN">
                            Ліполітики обличчя
                        </div>
                    </div>
                    <div class="second-square">
                        <div class="BSP">
                            1200₴
                        </div>
                    </div>
                </div>

                <!--  -->
    
                <div class="square">
                    <div class="first-square-down">
                        <div class="BSN">
                            Ліполітики всього тіла  
                        </div>
                    </div>
                    <div class="second-square-down">
                        <div class="BSP">
                            1500₴
                        </div>
                    </div>
                </div>

                
            <!-- блок заканчивается -->
        </div> 


<!--================================== доглядові процедури==============-->


        <div id="doglyadovi-proceduri">
            <div class="containerLeft">
                <div class="name-left price-name">
                    <div class="nameServices text-name">
                        Доглядові процедури
                    </div>
                    <div class="blur"></div>
                </div>
                <div class="lineAndCircle">
                    <div class="circle"></div>
                    <div class="line"></div>
                </div>
            </div>

            <div id="biorevital-cont">
                <div class="longFirst">
                    <div class="UpperNameCenter">
                        <div>
                            Чистки
                        </div>
                    </div>
                </div>
                <!-- квадраты -->
                <div class="square"> 
                    <div class="first-square noFlex">
                        <div class="BSN">
                            Чистка обличчя атравматична
                        </div>
                        <div class="SSN">
                            (зі звичайним пілінгом +200₴)
                        </div>
                    </div>
                    <div class="second-square">
                        <div class="BSP">
                            600₴
                        </div>
                    </div>
                </div>
    
                <!--  -->
                <div class="square">
                    <div class="first-square noFlex">
                        <div class="BSN">
                            Чистка обличчя комбінована    
                        </div>
                        <div class="SSN">
                            (зі звичайним пілінгом +200₴; з пілінгом Kerikum +450₴)
                        </div>
                    </div>
                    <div class="second-square">
                        <div class="BSP">
                            750₴
                        </div>
                    </div>
                </div>

                <!--  -->

                <div class="square">
                    <div class="UpperNameCenterSquare">
                        <div>
                            Пілінги
                        </div>
                    </div>
                </div>
    
                <!--  -->
                <div class="square">
                    <div class="first-square">
                        <div class="BSN">
                            Пілінг (ціна регулюється в залежності від проблеми)
                        </div>
                    </div>
                    <div class="second-square">
                        <div class="BSP">
                            600₴
                        </div>
                    </div>
                </div>


                 <!--  -->

                 <div class="square">
                    <div class="first-square">
                        <div class="BSN">
                            Пілінг Kerikum
                        </div>
                    </div>
                    <div class="second-square">
                        <div class="BSP">
                            950₴
                        </div>
                    </div>
                </div>
    
                <!--  -->
    
                <div class="square">
                    <div class="first-square">
                        <div class="BSN">
                            Пілінг PRX TЗЗ наінвазивна мезотерапія
                        </div>
                    </div>
                    <div class="second-square">
                        <div class="BSP">
                            2100₴
                        </div>
                    </div>
                </div>
    
                <!--  -->
    
    
    
                <!--  -->
    
                <div class="square">
                    <div class="UpperNameCenterSquare">
                        <div>
                            SPA догляд
                        </div>
                    </div>
                </div>
    
                <!--  -->
    
                <div class="square">
                    <div class="first-square">
                        <div class="BSN">
                            Масаж обличчя, шиї і зони декольте 40хв + сезонна альгінантна маска    
                        </div>
                    </div>
                    <div class="second-square">
                        <div class="BSP">
                            700₴
                        </div>
                    </div>
                </div>
    
                <div class="square">
                    <div class="down-square">
                        <div class="small-notes-font">
                            *Процедури на професійній косметиці: Christina, Dr.Spiller 
                        </div>
                    </div>
                </div>
        </div>


    </div>  <!-- закрывается прайс-контрейнер  -->
    
</div>