<!-- <div id="servicesBlock">
    <div id="logoServices">
        <div id="nameServices">
            Послуги
        </div>
        <div class="circle"></div>
        <div class="line"></div>
    </div>
</div> -->

<div class="containerLeft">
    <div class="name-left">
        <div class="nameServices">
            Послуги
        </div>
    </div>
    <div class="lineAndCircle">
        <div class="circle"></div>
        <div class="line"></div>
    </div>
</div>

<!-- ----------------------------------------------------------- -->

<div class="gradient">
    <div class="flex">
        <div class="img">
            <img class="img1" src="../../assets/images/Ботулінотерапія.png" alt="Ботулінотерапія">
            <img class="img2" src="../../assets/images/бутолінотерапія 750.png" alt="Ботулінотерапія">
        </div>
        <div class="text">
            <div class="logo">
                <div>
                    Ботулінотерапія
                    <div id="underline"></div>
                </div>
            </div>
            <div class="notes">
                Ботулінотерапія - це вид ін'єкційної косметології,
                в якому ви за швидкий термін часу та без шкоди для
                здоров'я можете позбавитись зморшок в зоні чола, міжбров'я,
                очей, підборіддя. Дозування та ступінь блокування м'язів ми
                обираємо разом на консультації. Ботулінотерапія може бути як
                жіноча так і чоловіча.
            </div>
        </div>
    </div>
</div>

<!-- ----------------------------------------------------------- -->

<div class="gradient">
    <div class="flex">
        <div class="text">
            <div class="logo">
                <div>
                    Контурна пластика
                    <div id="underline"></div>
                </div>
            </div>
            <div class="notes">
                Контурна пластика - це заповнення зон корегування м'яким, 
                середнім, або щільним філером, в залежності від потреби пацієнта. 
                Я надаю послуги корекції філером губ, зморшок, заповнення кілець Венери 
                та омолодження тильної поверхні кистей.
            </div>
        </div>
        <div class="img-right">
            <img class="img1" src="../../assets/images/контурна пластика.png" alt="контурна пластика">
            <img class="img2" src="../../assets/images/контурна пластика 750.png" alt="контурна пластика">
        </div>
    </div>
</div>

<!-- ----------------------------------------------------------- -->

<div class="gradient">
    <div class="flex">
        <div class="img">
            <img class="img1" src="../../assets/images/дерматологічне лікування.png" alt="Дерматологічне лікування">
            <img class="img2" src="../../assets/images/дерматологічне лікування 750.png" alt="Дерматологічне лікування">
        </div>
        <div class="text">
            <div class="logo">
                <div>
                    Дерматологічне лікування
                    <div id="underline"></div>
                </div>
            </div>
            <div class="notes">
                Надаю дерматологічні консультації та лікую пацієнтів з 
                такими патологіями як акне, атопічний дерматит, псоріаз, 
                гіпергідроз, випадіння волосся, проявами постакне. Лікування може 
                бути як місцевим, ін'єкційним, так і системним, в залежності від діагнозу. 
                За потреби направляю пацієнта на лабораторне дообстеження для коректної 
                постановки діагнозу і контролю його стану.
            </div>
        </div>
    </div>
</div>

<!-- ----------------------------------------------------------- -->

<div class="gradient">
    <div class="flex">
        <div class="text">
            <div class="logo">
                <div>
                    Біоревіталізація шкіри
                    <div id="underline"></div>
                </div>
            </div>
            <div class="notes">
                Біоревіталізація з полінуклеотидами глибоко зволожує шкіру навколо 
                очей, шкіру обличчя, шиї, декольте. Полінуклеотиди в складі програмують 
                шкіру на виробітку власного колагену і еластину, який потрібен для розгладжування 
                дрібних зморшок і зволоження шкіри ще на протязі довгого часу. Біоревіталізація потрібна, 
                якщо хочете додати шкірі пружності, сяяння, вирівняти колір обличчя, 
                боротися зі зморшками і рубцями постакне.
            </div>
        </div>
        <div class="img-right">
            <img class="img1" src="../../assets/images/біоревіталізація.png" alt="біоревіталізація">
            <img class="img2" src="../../assets/images/біоревіталізація 750.png" alt="біоревіталізація">
        </div>
    </div>
</div>

<!-- ----------------------------------------------------------- -->

<div class="gradient">
    <div class="flex">
        <div class="img">
            <img class="img1" src="../../assets/images/доглядові процедури.png" alt="доглядові процедури">
            <img class="img2" src="../../assets/images/доглядові процедури 750.png" alt="доглядові процедури">
        </div>
        <div class="text">
            <div class="logo">
                <div>
                    Доглядові процедури
                    <div id="underline"></div>
                </div>
            </div>
            <div class="notes">
                Доглядові процедури за шкірою потрібні коли пацієнта 
                турбують незначні проблеми зі шкірою. В цьому випадку 
                я корегую її стан за допомогою призначення домашнього догляду, чищення шкіри, 
                різних видів пілінгів, в залежності від запиту пацієнта.
            </div>
        </div>
    </div>
</div>